

html {
	margin-top: 20px;
	margin-bottom: 30px;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}
thead {background: #CCCCCC;}
tbody {
	font-style: italic;
	background-color: #FFCC99;
}
caption {
	font-weight: bold;
	padding-bottom: 5px;
}
.importedFont {font-family: 'Bungee Shade', cursive;}
ul {padding-left:180px;}
.centered {text-align: center;}
a {text-decoration: none;}
a:link {color: Green;}
a:visited {color: Red;}
a:hover {
	text-decoration: underline;
	background-color: yellow;
}


